.metadata/
shitpost-bot/com.madjayq.discord/.settings/
shitpost-bot/com.madjayq.bot/.settings/org.eclipse.jdt.core.prefs
shitpost-bot/com.madjayq.bot/.settings/org.eclipse.m2e.core.prefs
shitpost-bot/com.madjayq.discord/target/
